@import url('./global.css');

/* HEADER */
header{
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(8px);
    border: 2px solid #ffffff44;
    height: 80px;
}

.header-aluno{
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    border: 2px solid #ffffff44;
    height: 80px;
}

/* HEADER END */

/* MAIN */
body{
    background-color: blue;
}

.body-login{
    display: flex;
    flex-direction: column;
    gap: 160px;
    min-height: 100vh;
    background: url(https://wallpapers.com/images/hd/purple-skies-4k-pc-xvaru1lcd5jmmrsf.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.body-aluno{
    background-color: #5000b9;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.acess-container{
    display: flex;
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(8px);
    border: 2px solid #ffffff44;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    width: 350px;
    height: 390px;
    margin: 50px;
    border-radius: 10px;
}

.shipping-container{
    display: flex;
    background-color: rgba(109, 0, 172, 0.356);
    backdrop-filter: blur(2px);
    border: 2px solid #ffffff44;
    align-items: center;
    flex-direction: column;
    gap: 1px;
    width: 420px;
    height: 540px;
    margin: 50px;
    border-radius: 10px;
}


.shipping-container h2{
    margin-bottom: 20px;
    margin-top: 20px;
    color: white;
}

.shipping-container label{
    color: white;
}

.shipping-form{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.options{
    display: flex;
    gap: 100px;
}

.form-login{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.acess-container h2{
    margin-top: 36px;
    color: var(--color-neutral-white);
}

.data-entry{
    width: 277px;
    height: 41px;
    border-radius: 25px;
    background-color: #ffffff00;
    border: 2px solid #ffffff44;
    color: var(--color-neutral-white);
}

.data-entry::placeholder {
    display: flex;
    justify-content: space-around;
    text-align:end;
    margin-right: 226px;
    color: var(--color-neutral-white);
}

.desc-entry{
    width: 277px;
    height: 100px;
    border-radius: 25px;
    background-color: #ffffff00;
    border: 2px solid #ffffff44;
    color: var(--color-neutral-white);
}



.button-entry{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 277px;
    height: 38.5px;
    border-radius: 25px;
}








.cadastre-container{
    display: flex;
    background-color: rgba(255, 255, 255, 0.411);
    align-items: center;
    flex-direction: column;
    gap: 30px;
    width: 345.5px;
    height: 406px;
    margin: 71.5px;
    border-radius: 10px;
}


.cadastre-container h2{
    margin-top: 36px;
    color: var(--color-neutral-white);
}

.cadastre-container input{
    width: 277px;
    height: 41px;
    border-radius: 25px;
    background-color: #ffffff00;
}






.card{
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    backdrop-filter: blur(2px);
    border: 2px solid #ffffff44;
    align-items: start;
    flex-direction: column;
    gap: 10px;
    width: 180px;
    height: 210px;
    margin: 40px;
    border-radius: 10px;
}







.about-us-card{
    display: flex;
    justify-content: center;
    width: 345.5px;
    height: 358.5px;
    margin: 95px;
    gap: 20px;
}

.about-us-card img{
    height: 300px;
    width: 300px;
}

.bio{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 300px;
    width: 300px;
}
/* MAIN END */

/* FOOTER */

footer{
    display: flex;
    flex-direction: end;
    justify-content: center;
    align-items: center;
}

.copyrights{
    color: var(--color-neutral-white);
}

.about-us-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 20px;
}
/* FOOTER END */

/* SOBRE HTML */

/* SOBRE HTML END */